@font-face {
    /* use for small print */
    font-family: 'exan';
    src: url('../fonts/exan-3/Exan-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'microg';
    /* use for the body */
    src: url('../fonts/micro-bold/Microgramma\ D\ Extended\ Bold.otf') format('opentype');
}

@font-face {
    font-family: 'gransan';
    /* use for the body */
    src: url('../fonts/GranSanMn/grantha-sangam-mn-regular.otf') format('opentype');
}


body,
html {
    font-family: 'gransan', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: white;
    text-align: center;
}

.hero {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-bg {
    max-width: 80%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* Navbar */
.navbar {
    font-family: 'microg', sans-serif;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    box-shadow: none;
    background-color: transparent;
    height: 80px;
    transition: all 0.3s ease-in-out;
}

/* Navigation Links */
.nav-links {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.nav-links .active {
    display: none;
}



.nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-links ul li {
    margin: 0 20px;
}

.nav-links ul li a {
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;

}

.nav-links ul li a:hover {
    color: #8fcdff;
}


.logo {
    flex: 0;
    text-align: center;
    margin: 0 auto;
    background: #000000a4;
    border-radius: 15px;
}

.logo img {
    height: 85px;
    transition: height 0.3s ease;
}

.navbar.scrolled {
    background-color: #8fcdff;
    height: 115px;
    padding: 0;
}

.navbar.scrolled :hover {
    color: #000000;
}


.navbar.scrolled .logo img {
    height: 70px;
}

/*---dropdown menu ---*/

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-links {
    display: none;
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    background-color: #8fcdff;
    z-index: 999;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.hamburger-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.hamburger-links ul li {
    margin: 10px 0;
}

.hamburger-links ul li a {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
}

.hamburger-links ul li a:hover {
    color: #8fcdff;
}

.hamburger-menu.active+.hamburger-links {
    display: none;
}


.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
}



.menu-btn {
    color: #00f2ff;
    display: none;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

#social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;

}


.email-container {
    font-family: 'gransan', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 600px;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
}

.image-row img {
    width: 150px;
    max-width: 100%;
    height: auto;
}

.below-text {
    font-family: 'gransan' sans-serif;
    text-align: center;
    margin-top: 10px;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-transform: lowercase;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    background-color: #43434398;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    display: block;
    color: #fff;
}

.below-text a {
    text-decoration: none;
    font-style: italic;
    color: #0dbcf6;
}

.below-text a:hover {
    color: #ffffff;
}



.fa-brands {
    color: #fff;
    height: auto;
    font-size: 2rem;
    width: 3rem;
    margin-top: 1rem;
}

.fa-brands:hover {
    color: #8fcdff;
}


.footer {
    position: absolute;
    text-align: center;

}

.copy {
    font-family: 'exan', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    display: block;

}

.copy .contact {
    color: #8fcdff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.copy .contact:hover {
    color: #ac79fd;

}


@media only screen and (max-width: 768px) {

    .copy {
        font-size: 1rem;
    }

    .container {
        flex-direction: column;
        padding: 10px;
    }

    .hero {
        margin-top: 20vh
    }

    .email-container {
        margin-top: 25vh;
        padding: 1rem;
        max-width: 90%;
    }

    .image-row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
    }

    .image-row img {
        width: 90px;
        margin-bottom: 1rem;
    }

    .below-text {
        margin-top: -9vh;
        font-size: 0.9rem;
        padding: 0.5rem;
    }

    .sm_icons {
        width: 2rem;
        height: auto;
        margin: 0.3rem;
    }


    .fa-brands {
        font-size: 1.7rem;
        width: 2rem;
        margin-top: 1rem;
    }

    #social-links {
        margin-top: 40vh;
        gap: 5px;
    }

    .button-container1 {
        gap: 4rem;
    }


    .menu-btn {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        display: block;
    }

    .navbar {
        height: 40px;
        flex-direction: column;
        padding: 0;
    }

    .nav-links {
        display: none;
    }

    .logo img {
        height: 40px;
    }

    .nav-links ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .navbar.scrolled {
        background-color: #8fcdff;
        height: 90px;
    }

    .navbar.scrolled .logo img {
        height: 30px;
        border-radius: 10px;
    }

    /*- Hamburger Menu --- */

    .hamburger-menu {
        display: block;
        background: transparent;
        border: none;

    }

    .hamburger-menu img {
        width: 50px;
        height: auto;
        filter: drop-shadow(0 0 4px rgba(255, 255, 255, 9.87));

    }

    .hamburger-links {
        display: none;
        position: fixed;
        top: 94px;
        margin: 0 auto;
        width: 55%;
        background-color: #8fcdffc1;
        z-index: 999;
        text-align: center;
        padding: 0.5rem;
    }

    .hamburger-links ul {
        list-style: none;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .hamburger-links ul li {
        margin: 10px 0;
    }

    .hamburger-links ul li a {
        font-size: 1rem;
        color: #fff;
        text-decoration: none;
    }

    .hamburger-links ul li a:hover {
        color: #000000;
    }

    .hamburger-menu.active+.hamburger-links {
        display: block;
    }
}


@media screen and (min-width: 769px) {
    .nav-links {
        display: flex;
    }

    .hamburger-links {
        display: none;
    }
}