@font-face {
    /* use for small print */
    font-family: 'exan';
    src: url('../fonts/exan-3/Exan-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'microg';
    /* use for the titles */
    src: url('../fonts/micro-bold/Microgramma\ D\ Extended\ Bold.otf') format('opentype');
}

@font-face {
    font-family: 'gransan';
    /* use for the body */
    src: url('../fonts/GranSanMn/grantha-sangam-mn-regular.otf') format('opentype');
}



body,
html {
    font-family: 'gransan', sans-serif;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: #000000;
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;


}

.hero img {
    max-width: 80%;
    display: block;
    height: auto;
}

.bbc,
.zand,
.na,
.ryan,
.scott,
.mur,
.laura,
.vukovi,
.contact {
    text-decoration: none;
    color: #8fcdff;
    transition: color 0.3s ease;
}

/* Navbar */
.navbar {
    font-family: 'microg', sans-serif;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: none;
    background-color: transparent;
    height: 80px;
    transition: all 0.3s ease-in-out;
}

/* Navigation Links */
.nav-links {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.nav-links .active {
    display: none;
}



.nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-links ul li {
    margin: 0 20px;
}

.nav-links ul li a {
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;

}

.nav-links ul li a:hover {
    color: #8fcdff;
}


.logo {
    flex: 0;
    text-align: center;
    margin: 0 auto;
    background: #000000a4;
    border-radius: 15px;
}

.logo img {
    height: 85px;
    transition: height 0.3s ease;
}

.navbar.scrolled {
    background-color: #8fcdff;
    height: 115px;
    padding: 0;
}

.navbar.scrolled :hover {
    color: #000000;
}


.navbar.scrolled .logo img {
    height: 70px;
}

/*---dropdown menu ---*/

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-links {
    display: none;
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    background-color: #8fcdff;
    z-index: 999;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.hamburger-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.hamburger-links ul li {
    margin: 10px 0;
}

.hamburger-links ul li a {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
}

.hamburger-links ul li a:hover {
    color: #8fcdff;
}

.hamburger-menu.active+.hamburger-links {
    display: none;
}

#press h4 {
    padding: 1rem 6rem;
    text-align: center;
    font-family: 'gransan' sans-serif;
    font-style: italic;
    color: #fff;
    font-size: 1.25rem;

}

#press h5 {
    color: #8fcdff;

    font-size: 1rem;
}

#about {
    padding: 1rem 6rem;
    padding-bottom: 5rem;
    color: #fff;
    text-align: center;
    font-family: 'gransan', sans-serif;
}

#about h1 {
    font-family: 'microg', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 30px;
    position: relative;
    color: #ffffff;
}

#about h4 {
    font-size: 1rem;
    font-style: italic;
    font-weight: lighter;
}



/* Paragraph Styling */
#about p {
    line-height: 1.8;
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: center;
    padding-bottom: 5rem;
}

/* Content Container */
#about .content {
    max-width: 800px;
    margin: 0 auto;
}




/* 
.message-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1001;
}

.message-box-toggle {
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.message-box-toggle i {
    font-size: 2rem;
    animation: none;
}

.message-box-content {
    font-family: 'gransan', sans-serif;
    display: none;
    position: absolute;
    bottom: 50px;
    right: 0;
    background-color: #5f6161b0;
    border: 1px solid #ccc;
    color: #fff;
    border-radius: 10px;
    width: 30rem;
    box-shadow: 0 5px 15px rgb(224, 241, 243);
    padding: 0.5rem;
}

.message-box-content h3 {
    margin: 0 auto;
    font-size: 1.2rem;
    margin-bottom: 10px;

}

.message-box-content textarea {
    font-family: 'gransan', sans-serif;
    display: flex;
    font-size: .9rem;
    width: 100%;
    height: 100px;
    margin-bottom: 14px;
    border: 1px solid rgb(105, 239, 251, 0.713);
    border-radius: 5px;
    padding: 8px;
}

.message-box-content .send-message {
    font-family: 'gransan', sans-serif;

    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    gap: 10px;
}

*/

.merch-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.merch-button-toggle {
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 0;
    width: 60px;
    height: 180px;
    cursor: pointer;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.merch-button-toggle i {
    font-size: 2rem;
    animation: none;
    filter: drop-shadow(0 0 5px rgb(0, 247, 255));
}

.merch-link .merch-button .merch-button-toggle i {
    transition: all 0.3s ease-in-out;
    animation: flash 1s infinite;
}


@keyframes flash {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.6;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/*---- mailling list ----*/
#mailing-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 20px;
    color: #ffffff;
    clear: both;
}

#mc-embedded-subscribe-form {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;
}

#mc-embedded-subscribe-form h3 {
    font-family: 'microg', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1.8rem;
    color: #8fcdff;
    text-shadow:
        -1px -1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff;
    text-align: center;
    margin-bottom: 2rem;
}

#mc-embedded-subscribe-form p {
    font-family: 'gransan', sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    text-shadow:
        -1px -1px 0 #13b4d4,
        1px -1px 0 #13b4d4,
        -1px 1px 0 #13b4d4,
        1px 1px 0 #13b4d4;
    letter-spacing: 0.2rem;

}

#mc-embedded-subscribe-form input {
    width: 50%;
    padding: 0.7rem;
    margin: 1rem 0;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #8fcdff;
    background-color: transparent;
    color: #fff;
}

#thank-you-message {
    display: none;
    text-align: center;
    margin-top: 2rem;
}

#thank-you-message h2 {
    font-size: 2rem;
    color: #13b4d4;
}

#thank-you-message p {
    font-size: 1.2rem;
    color: #fff;
}

#subscribe-form input {
    width: 45%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #13b4d4;

}

#subscribe-form label {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    letter-spacing: 0.2rem;

}

.copy {
    font-family: 'exan', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    display: block;

}

.copy .contact {
    color: #8fcdff;
    text-decoration: none;
    transition: color 0.3s ease;
    padding-bottom: 2rem;
}

.copy .contact:hover {
    color: #ac79fd;

}

/*---send / subscribe button ---*/

:root {
    --glow-color: hsl(207, 100%, 78%);

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.glowing-btn {
    font-family: 'microg', sans-serif;
    text-transform: uppercase;
    position: relative;
    color: white;
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-size: 1.1rem;
    letter-spacing: 1.2em;

    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}

.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    /*transform: translateY(120%) rotateX(95deg) scale(1, 0.35);*/
    background: var(--glow-color);
    pointer-events: none;
}

.glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}

.glowing-btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: none;
    animation: none;
}

.glowing-btn:hover .glowing-txt {
    animation: none;
}

.glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

.glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}

.glowing-btn:hover:after {
    opacity: 1;
}

@keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 0.1;
    }

    4% {
        opacity: 0.5;
    }

    19% {
        opacity: 0.5;
    }

    21% {
        opacity: 0.1;
    }

    23% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0.3;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    4% {
        opacity: 0.1;
    }

    8% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

#social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-bottom: 1rem;
}

.fa-brands {
    color: #fff;
    height: auto;
    font-size: 2rem;
    width: 3rem;
    margin-top: 1rem;
}

.fa-brands:hover {
    color: #8fcdff;
}

.footer {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .hero {
        margin-top: 6rem;
    }



    #about {
        margin-bottom: 9rem;
        padding: 5px 10px;
        color: #fff;
        text-align: center;
    }

    /*.message-box-content {
        display: none;
        position: absolute;
        bottom: 50px;
        right: 0;
        background-color: #5f6161b0;
        border: 1px solid #ccc;
        color: #fff;
        border-radius: 10px;
        width: 18rem;
        box-shadow: 0 5px 15px rgb(224, 241, 243);
        padding: 5px;
    }*/

    .glowing-btn {
        font-size: 1em;
    }

    .navbar {
        height: 40px;
        flex-direction: column;
    }

    .nav-links {
        display: none;
    }

    .logo img {
        height: 40px;
    }

    .nav-links ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .navbar.scrolled {
        background-color: #8fcdff;
        height: 90px;
    }

    .navbar.scrolled .logo img {
        height: 30px;
        border-radius: 10px;
    }

    #mc-embedded-subscribe-form input {
        width: 70%;
        padding: 0.7rem;
        margin: 1rem 0;
    }

    #mailing-list {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        color: #ffffff;
        clear: both;
    }

    #social-links {
        padding-bottom: 1rem;
        gap: 5px;
        position: relative;
        z-index: 3000;
        margin-top: -15rem;
    }

    .fa-brands {
        font-size: 1.7rem;
        width: 2rem;
        margin-top: 1rem;
    }

    /* --- Hamburger Menu --- */

    .hamburger-menu {
        display: block;
        background: transparent;
        border: none;

    }

    .hamburger-menu img {
        width: 50px;
        height: auto;
        filter: drop-shadow(0 0 4px rgba(255, 255, 255, 9.87));
    }

    .hamburger-links {
        display: none;
        position: fixed;
        top: 94px;
        margin: 0 auto;
        width: 55%;
        background-color: #8fcdffc1;
        z-index: 999;
        text-align: center;
        padding: 0.5rem;
    }

    .hamburger-links ul {
        list-style: none;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .hamburger-links ul li {
        margin: 10px 0;
    }

    .hamburger-links ul li a {
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
    }

    .hamburger-links ul li a:hover {
        color: #000000;
    }

    .hamburger-menu.active+.hamburger-links {
        display: block;
    }

    .footer {
        margin-top: 0;
    }


    @media screen and (min-width: 769px) {
        .nav-links {
            display: flex;
        }

        .hamburger-links {
            display: none;
        }
    }
}