@font-face {
    /* use for small print */
    font-family: 'exan';
    src: url('../fonts/exan-3/Exan-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'microg';
    /* use for the titles */
    src: url('../fonts/micro-bold/Microgramma\ D\ Extended\ Bold.otf') format('opentype');
}

@font-face {
    font-family: 'gransan';
    /* use for the body */
    src: url('../fonts/GranSanMn/grantha-sangam-mn-regular.otf') format('opentype');
}


body,
html {
    font-family: 'gransan', sans-serif;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
    background: #000000;
    color: #ffffff;
    scroll-behavior: smooth;

}

/* Navbar */
.navbar {
    font-family: 'microg', sans-serif;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    box-shadow: none;
    background-color: transparent;
    height: 80px;
    transition: all 0.3s ease-in-out;
}

/* Navigation Links */
.nav-links {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.nav-links .active {
    display: none;
}

.nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-links ul li {
    margin: 0 20px;
}

.nav-links ul li a {
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;

}

.nav-links ul li a:hover {
    color: #8fcdff;
}


.logo {
    flex: 0;
    text-align: center;
    margin: 0 auto;
    background: #000000a4;
    border-radius: 15px;
}

.logo img {
    height: 85px;
    transition: height 0.3s ease;
}

.navbar.scrolled {
    background-color: #8fcdff;
    height: 115px;
    padding: 0;
}

.navbar.scrolled :hover {
    color: #000000;
}


.navbar.scrolled .logo img {
    height: 70px;
}

/*---dropdown menu ---*/

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-links {
    display: none;
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    background-color: #8fcdff;
    z-index: 999;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.hamburger-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.hamburger-links ul li {
    margin: 10px 0;
}

.hamburger-links ul li a {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
}

.hamburger-links ul li a:hover {
    color: #8fcdff;
}

.hamburger-menu.active+.hamburger-links {
    display: none;
}


.merch-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.merch-button-toggle {
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 0;
    width: 60px;
    height: 180px;
    cursor: pointer;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.merch-button-toggle i {
    font-size: 2rem;
    animation: none;
    filter: drop-shadow(0 0 5px rgb(0, 247, 255));
}

.merch-link .merch-button .merch-button-toggle i {
    transition: all 0.3s ease-in-out;
    animation: flash 1s infinite;
}


@keyframes flash {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.6;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/*----*/


/* Video Section */

#video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 3rem 1rem;
    padding-top: 5rem;
    box-sizing: border-box;
}

#video iframe {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    border: 2px solid #8fcdff;
    border-radius: 15px;
    box-shadow: 0 0 25px #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*Music Section*/

#music {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 2rem 1rem;
    margin-top: 35vh;
    box-sizing: border-box;
}

#music iframe {
    width: 100%;
    max-width: 800px;
    border: 2px solid #8fcdff;
    box-shadow: 0 0 15px #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.fa-brands {
    color: #fff;
    height: auto;
    font-size: 2rem;
    width: 3rem;
}

.fa-brands:hover {
    color: #8fcdff;
}


.footer {
    text-align: center;
}

.copy {
    font-family: 'exan', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    display: block;

}

.copy .contact {
    color: #8fcdff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.copy .contact:hover {
    color: #ac79fd;

}


@media only screen and (max-width: 768px) {

    #video {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
    }

    .glowing-btn {
        font-size: 1em;
    }

    .navbar {
        height: 40px;
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        display: none;
    }

    .logo img {
        height: 40px;
    }

    .nav-links ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .navbar.scrolled {
        background-color: #8fcdff;
        height: 90px;
    }

    .navbar.scrolled .logo img {
        height: 30px;
        border-radius: 10px;
    }

    /* --- Hamburger Menu --- */

    .hamburger-menu {
        display: block;
        background: transparent;
        border: none;

    }

    .hamburger-menu img {
        width: 50px;
        height: auto;
        filter: drop-shadow(0 0 4px rgba(255, 255, 255, 9.87));
    }

    .hamburger-links {
        display: none;
        position: fixed;
        top: 120px;
        margin: 0 auto;
        width: 55%;
        background-color: #8fcdffc1;
        z-index: 999;
        text-align: center;
        padding: 1dvh;
    }

    .hamburger-links ul {
        list-style: none;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .hamburger-links ul li {
        margin: 10px 0;
    }

    .hamburger-links ul li a {
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
    }

    .hamburger-links ul li a:hover {
        color: #000000;
    }

    .hamburger-menu.active+.hamburger-links {
        display: block;
    }

    #social-links {
        gap: 5px;
        margin-bottom: 1rem;
    }

    .fa-brands {
        font-size: 1.7rem;
        width: 2rem;
        margin-top: 1rem;
    }



    @media screen and (min-width: 769px) {
        .nav-links {
            display: flex;
        }

        .hamburger-links {
            display: none;
        }
    }
}