@font-face {
    /* use for small print */
    font-family: 'exan';
    src: url('../fonts/exan-3/Exan-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'microg';
    /* use for the body */
    src: url('../fonts/micro-bold/Microgramma\ D\ Extended\ Bold.otf') format('opentype');
}

@font-face {
    font-family: 'gransan';
    /* use for the body */
    src: url('../fonts/GranSanMn/grantha-sangam-mn-regular.otf') format('opentype');
}



*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    font-family: 'microg', sans-serif;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
    font-family: 'exan', sans-serif;

}

ul [role="list"],
ol [role="list"] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

main {

    margin-top: 3rem;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}


input,
button,
textarea,
select {
    font-family: 'exan', sans-serif;
}

header {
    text-align: center;
    position: relative;
    width: 100%;
}

/* Navbar */
.navbar {
    font-family: 'microg', sans-serif;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: none;
    background-color: transparent;
    height: 80px;
    transition: all 0.3s ease-in-out;
}

/* Navigation Links */
.nav-links {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.nav-links .active {
    display: none;
}



.nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-links ul li {
    margin: 0 20px;
}

.nav-links ul li a {
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;

}

.nav-links ul li a:hover {
    color: #8fcdff;
}


.logo {
    flex: 0;
    text-align: center;
    margin: 0 auto;
    background: #000000a4;
    border-radius: 15px;
}

.logo img {
    height: 85px;
    transition: height 0.3s ease;
}

.navbar.scrolled {
    background-color: #8fcdff;
    height: 115px;
    padding: 0;
}

.navbar.scrolled :hover {
    color: #000000;
}


.navbar.scrolled .logo img {
    height: 70px;
}

/*---dropdown menu ---*/

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-links {
    display: none;
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    background-color: #8fcdff;
    z-index: 999;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.hamburger-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.hamburger-links ul li {
    margin: 10px 0;
}

.hamburger-links ul li a {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
}

.hamburger-links ul li a:hover {
    color: #8fcdff;
}

.hamburger-menu.active+.hamburger-links {
    display: none;
}

*,
*::before,
*::after {
    animation-duration: 0.1ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}


body {
    font-size: 1rem;
    padding: 2rem 0;
    background-color: rgb(0, 0, 0);
}


.container {
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

.stacked {
    display: grid;
}

.stacked>* {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.product-grid {
    display: grid;
    gap: 3rem;
    padding: 5rem 4rem;
    grid-template-columns:
        repeat(auto-fit, minmax(18rem, 1fr));
}

.card {
    aspect-ratio: 1 / 1.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card__content {
    background: #8fcdffc1;
    border-radius: 0.9rem;
    color: #fff;
    margin-top: 0;
    padding: 0.5rem;
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / .1);
}

.card__content:hover {
    transform: scale(1.05);
}

.card__title {
    font-family: 'exan', sans-serif;
    font-size: 1.2rem;
    line-height: 1.1;
}

a {
    color: white;
    text-decoration: none;
}

.card__price {
    font-size: 1.5rem;
}


.card__img {
    width: 100%;
    aspect-ratio: 1 / 1.25;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.special-alert {
    color: #000000;
    letter-spacing: 0.12rem;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy {
    font-family: 'exan', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    display: block;

}

.copy .contact {
    color: #8fcdff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.copy .contact:hover {
    color: #ac79fd;

}

@media (min-width: 60em) {
    .card__img {
        aspect-ratio: 1 / 1;
    }

    /* .card.featured {
        grid-row: span 2;
        grid-column: span 2;
    }

    .card.featured .card__img {
        aspect-ratio: 1 / 1.17
    }

    .card.featured .card__title {
        font-size: 1.75rem;
    }*/

    #social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding-bottom: 1rem;
    }

    .fa-brands {
        color: #fff;
        height: auto;
        font-size: 2rem;
        width: 3rem;
        margin-top: 1rem;
    }

    .fa-brands:hover {
        color: #0dbcf6;
    }

    .footer {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .container {

        padding-inline: 0rem;
        box-sizing: border-box;
        /* crucial! */
        width: 100%;
        margin: 0 auto;
    }

    .product-grid {
        padding: 1.2rem;
    }

    .card__content {
        position: relative;
        top: -5%;
    }

    .card__img {
        padding: 5vh;
    }


    .navbar {
        height: 40px;
        flex-direction: column;
    }

    .nav-links {
        display: none;
    }

    .logo img {
        height: 40px;
    }

    .nav-links ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .navbar.scrolled {
        background-color: #8fcdff;
        height: 90px;
    }

    .navbar.scrolled .logo img {
        height: 30px;
        border-radius: 10px;
    }

    #social-links {
        text-align: center;
        padding-top: 15vh;
        padding-bottom: 1rem;
        gap: 5px;
        position: relative;
        z-index: 3000;
    }

    .fa-brands {
        font-size: 1.7rem;
        width: 2rem;
        margin-top: 1rem;
    }

    /* --- Hamburger Menu --- */

    .hamburger-menu {
        display: block;
        background: transparent;
        border: none;

    }

    .hamburger-menu img {
        width: 50px;
        height: auto;
        filter: drop-shadow(0 0 4px rgba(255, 255, 255, 9.87));

    }

    .hamburger-links {
        display: none;
        position: fixed;
        top: 94px;
        margin: 0 auto;
        width: 55%;
        background-color: #8fcdffc1;
        z-index: 999;
        text-align: center;
        padding: 0.5rem;
    }

    .hamburger-links ul {
        list-style: none;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .hamburger-links ul li {
        margin: 10px 0;
    }

    .hamburger-links ul li a {
        font-size: 1rem;
        color: #fff;
        text-decoration: none;
    }

    .hamburger-links ul li a:hover {
        color: #000000;
    }

    .hamburger-menu.active+.hamburger-links {
        display: block;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding-inline: 1rem;
    }

    .product-grid {
        padding: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .card__content {
        top: 15%;
    }

    .card__img {
        padding-top: 3vh;
    }
}